head
  meta(charSet="utf-8")
  meta(httpEquiv="X-UA-Compatible" content="IE=edge,chrome=1")
  title
    != title
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="/main.css")
  script(src='/prism.js')
