doctype
html
  block head
    include _head
  body
    div.container
      div.nav-main
        div.wrapper
          a.nav-home(href="/")
            img.nav-logo(src="/img/logo.svg" width="50" height="50")
            span Refrax

      block precontent
      div.content.wrapper
        block content

      footer.wrapper
        div.right ©2016 Joshua Hollenbeck
