/*------------------------------------------------------------------------------
 * CSS RESET
 *----------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------------------------------------------------
 * App
 *----------------------------------------------------------------------------*/

@base_font_size: 16px;
@color_link_hilight: #4C97D2;
@base_font: 'Ubuntu', sans-serif;
@identifier_font: 'Source Code Pro', Menlo, 'Courier New', Consolas, monospace;
@size_small: unit(8 / unit(@base_font_size), rem);
@size_medium: unit(10 / unit(@base_font_size), rem);

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Light.otf');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: @base_font;
  background-color: #d1d2d4;
  color: #484848;
  font-size: @base_font_size;
	// line-height: unit(unit(@base_font_size) / 22, em);
}

body {
  background-color: #ffffff;
  max-width: 1024px;
  margin: 0 auto;
	line-height: unit(22 / unit(@base_font_size), em);
}

// Content

.container {
  padding-top: 50px;
  min-width: 960px;
}

.wrapper {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.content--documentation {
  padding-top: 20px;
}

.inner-content {
  margin-left: 210px;
}

.content--documentation .inner-content {
	> * + * {
		margin-top: 15px;
	}

	strong {
		font-weight: bold;
	}

	> ul {
		list-style: disc;

		li {
			margin-left: 20px;

			&+ li {
				margin-top: 10px;
			}
		}
	}
}

// Fonts

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 39px;
  line-height: 40px;
  margin-bottom: unit(10 / unit(@base_font_size), rem);
}

h2 {
  font-size: 31px;
  line-height: 32px;
}

h3 {
  font-size: 21px;
  line-height: 22px;
}

h4 {
  font-size: 17px;
  line-height: 18px;
}

h5 {
  font-size: 14px;
  line-height: 14px;
}

h6 {
  font-size: 11px;
  line-height: 12px;
}

a {
  color: @color_link_hilight;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #d96200;
    text-decoration: underline;
  }
  &:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

a.anchor-target {
  margin-top: -50px;
  position: absolute;
}

.anchor-link {
	display: none;
	position: absolute;
	font-size: inherit;
	line-height: 1em;
	left: -16px;
	padding-right: 3px;
	top: 50%;
	margin-top: -0.5em;
	color: @color_link_hilight;
	cursor: pointer;
}

:hover > .anchor-link {
	display: inline-block;
}

// Headers

.header-section {
  margin: 2.0rem 0 1.0rem;
  padding-left: 0.5rem;
  background: @color_link_hilight;
  border-top: 1px solid darken(@color_link_hilight, 20%);
  border-bottom: 1px solid darken(@color_link_hilight, 20%);
  color: #fff;
  font-weight: normal;
}

.header-section-sub {
  margin: 1.0rem 0 0.5rem;
  padding-left: 0.5rem;
  // background: @color_link_hilight;
  // color: #fff;
}

.method-definition-header {
  position: relative;
  margin-bottom: unit(15 / unit(@base_font_size), rem);
  padding-left: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(to top, #e1e1e1, #fafafa);

  h3 {
    display: inline-block;
    font-family: @identifier_font;
    font-weight: normal;
    margin: 0.4rem 0 0.3rem 0;
  }
}

//

.nav-main {
  *zoom: 1;
  background: #3B3738;
  color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 100;
}

.nav-main:before, .nav-main:after {
  content: " ";
  display: table;
}

.nav-main:after {
  clear: both;
}

.nav-main a {
  color: #e9e9e9;
  text-decoration: none;
}

.nav-main .nav-site {
  float: right;
  margin: 0;
}

.nav-main .nav-site li {
  margin: 0;
}

.nav-main .nav-site a {
  padding: 0 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 50px;
  display: inline-block;
  height: 50px;
  color: #aaa;
}

.nav-main .nav-site a:hover {
  color: #fafafa;
}

.nav-main .nav-site a.active {
  color: #fafafa;
  border-bottom: 3px solid @color_link_hilight;
  background: #333;
}

.nav-main .nav-home {
  color: #4C97D2;
  font-size: 24px;
  line-height: 50px;
}

.nav-home a {
  color: @color_link_hilight;
}

.nav-home img {
  vertical-align: -17px;
  margin-right: 4px;
  width: 50px;
  height: 50px;
}

//

.nav-docs {
  background-color: #f3f3f4;
  color: #2d2d2d;
  font-size: 14px;
  width: 210px;
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0px;
  padding-top: 20px;
}

.nav-docs ul {
  list-style: none;
  margin: 0;
}

.nav-docs ul ul {
  margin-left: 20px;
}

.nav-docs li {
  margin: 0;
  line-height: 20px;
}

.nav-docs h3 {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 20px;
}

.nav-docs a {
  color: #666;
  display: block;
  padding: 0 20px;
}

.nav-docs a:hover {
  text-decoration: none;
  color: @color_link_hilight;
}

.nav-docs a.active {
  color: @color_link_hilight;
  border-left: 2px solid @color_link_hilight;
  padding-left: 18px;
}

.nav-docs .nav-docs-section {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #eee;
  padding: 12px 0;
}

.nav-docs .nav-docs-section:first-child {
  padding-top: 0;
  border-top: 0;
}

.nav-docs .nav-docs-section:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

@media (max-width: 1819px) and (min-width: 1024px) {
  .nav-docs {
    left: 50%;
    margin-left: -512px;
  }
}

// Lists

.list-properties,
.list-methods {
  li {
    margin: 0 0 5px 0;
    color: rgba(0, 0, 0, 0.35);
    // mimic prism code block
    font-size: 13px;
    line-height: 20px;
    background-color: rgba(75, 145, 80, 0.05);

    a {
			border-left: 4px solid #f26b00;
      color: inherit;
      display: block;
      position: relative;
      text-decoration: none;
      padding: 5px 10px;

      // &:hover::before {
      //   font-size: 16px;
      //   left: -1em;
      //   line-height: 20px;
      //   position: absolute;
      //   color: #f26b00;
      //   content: '#';
      // }
    }
  }
}

.identifier-list {
  font-size: unit(12 / unit(@base_font_size), rem);
  line-height: unit(16 / unit(@base_font_size), rem);
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  dt {
    padding: @size_small @size_medium;
    border-bottom: 1px solid #ccc;
  }
  dd {
    padding: @size_medium;
    border-bottom: 1px solid #ccc;
  }
}

//

.method-definition-details {
  margin-bottom: 2rem;
  margin-left: 0.75rem;
  > p {
    margin-bottom: 1rem;
  }
  > aside {
    margin-bottom: 1rem;
    h4 {
      margin-bottom: 0.25rem;
    }
  }
}

.method-argument {
  background-color: #f8f8f8;
	line-height: 1em;
}

.method-argument-details {
  p + p,
  p + table {
    margin-top: @size_medium;
  }
}

//

.type,
.identifier {
  font-family: @identifier_font;
  font-style: normal;
	vertical-align: middle;
}

.identifier {
	color: #000000;
  font-weight: bold;
}

// Tags

.tag {
  position: relative;
  display: inline-block;
  padding: 4px 4px;
  letter-spacing: 0em;
  font-family: @identifier_font;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
}

.tag-type {
}

.tag-optional {
  font-size: unit(10 / unit(@base_font_size), rem);
  line-height: 1em;
  color: #729a00;
}

.tag + dfn,
dfn + .tag,
span + .tag {
  margin-left: 0.5rem;
}

//

:not(pre) > code {
	font-family: @identifier_font;
	padding: 2px 2px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	color: #595959;
	background-color: #f8f8f8;
	white-space: pre;
	font-size: 0.85em;
	line-height: 1em;
}

//

table.detail-table-parameters {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  text-align: left;
  overflow: auto;
	font-size: unit(12 / unit(@base_font_size), rem);
	line-height: unit(16 / unit(@base_font_size), rem);

  > thead {
    background-color: #efefef;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-style: normal;
		line-height: 1em;
  }

  > thead > tr > th,
  > tbody > tr > td {
    padding: @size_medium;
    vertical-align: middle;
  }

  th + th,
  td + td, {
    border-left: 1px solid #ccc;
  }

  tr + tr {
    border-top: 1px solid #ccc;
  }
}


/* http://prismjs.com/download.html?themes=prism&languages=markup+clike+javascript+jsx */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

// code[class*="language-"],
pre[class*="language-"],
.list-methods pre,
.list-properties pre {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

// code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

// code[class*="language-"]::selection, code[class*="language-"] ::selection,
pre[class*="language-"]::selection, pre[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	// code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/* Custom prism rules */

// code[class*="language-"],
pre[class*="language-"] {
  margin-bottom: 10px;
}
// code[class*="language-"],
pre[class*="language-"],
.list-methods pre,
.list-properties pre {
  font-family: @identifier_font;
  white-space: pre-wrap;
}

// code[class*="language-"],
pre[class*="language-"] {
  font-size: 13px;
  line-height: 20px;
  border-left: 4px solid #f26b00;
  padding: 5px 10px;
  background-color: rgba(75, 145, 80, 0.05);
}
.prism + .prism {
  margin-top: -15px;
}

/* Line highlighting */

.prism {
  position: relative;
}

.line-highlight {
  background: rgba(75, 145, 80, 0.15);
  left: 0;
  line-height: inherit;
  margin-top: 5px;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.prism.inline {
	margin: 0;
	padding: 0;
	border: 0;
	background: inherit;
	line-height: inherit;
	font-size: inherit;
	overflow: hidden;
}
