---
title: Introduction
layout: docs.pug
permalink: /docs/introduction.html
---

p Refrax is a JavaScript framework for your data that provides a managed predictable state through a unidirectional data flow for your api-based data-driven applications.

p It makes it easier for you to write applications; by providing you tools to manage storage/syncing of data in a predictable immutable/mutable fasion and an easy to read idiomatic syntax.

p You can use Refrax together with React, but it's not limited to it and can be used with another view library of your choice or even by itself.

p Let's dive-in to building a simple <strong>TODO</strong> app while getting to know its components, starting with the <a href="/docs/guides/schema.html">Schema</a>.
